body {
    margin: opx opx;
    background: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: floralwhite;
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
}
.logo{
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 20PX;
}
.menu{
    /* border: 2px solid green; */
    display: block;
    width: 45%;
    top: 30px;
    margin: 30px auto;

}
.search-buttons{
    /* border: 2px solid yellow; */
    display: block;
    position: absolute;
    right: 30px;
    top: 35px;
}
.container{
    margin: 260px 780px;    
    /* border:2px solid white; */
    border-radius: 12px;
    width: 40%;
}

.btn:hover{
    background-color: rgb(56, 55, 55);
}

.navigation li{
    display: inline-block;
    font-size: 18px;
}
.navigation li a {
    color: white;
    text-decoration: none;
    padding: 25px 20px ;
    
}
.navigation li a.active,
.navigation li a:hover{
    color: grey;
    text-decoration:underline;
}
.container h1{
    text-align: center;
}
.container input{
    font-family: 'Baloo Bhai', cursive;
    display: block;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 8px auto;
    text-align: center;
    width: 520px;
}
.container button{
    font-family: 'Baloo Bhai', cursive;
    display: block;
    margin: 23px auto;
    border-radius: 8px;
    font-size: 15px;
    width: 264px;
    width: 520px;
}
.logo img{
    width: 77px;
    height: 79PX;
    filter: invert(11%);
}
.logo div{
    text-align: center;
}

.search-buttons button{
    font-family: 'Baloo Bhai', cursive;
    border-radius: 8px;
    margin: 0px 9px;
    font-size: 15px;
    padding: 0px 19px;
}

.btn{
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

